
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <div class="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
      </div>
   <nav>
    <ul>
    <li><a href="/">HOME</a></li>
    <li><a href=" /stylist" >ALL STYLIST</a></li>
    <li><a href="/stylist/new" >ADD NEW STYLIST</a></li>
    <li><a href="/logout">LOG OUT</a></li>
    <li><a href="/auth/google" class="login">LOG IN&nbsp;</a></li>
   </ul>
  </nav>

  <script>
    document.querySelector('.hamburger-icon').addEventListener('click', function () {
        document.querySelector('nav ul').classList.toggle('show');
    });
</script>

  