
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steps</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="steps-container">
        <section class="do-first">
            <h4>Step 1: Let's Get Started!</h4>
            <p>Embark on your LuxD journey by crafting your own dazzling Stylist LuxD card! <br>Simply click on "Add New Stylist" in the tab bar and let the creativity unfold.</p>
        </section>

        <section class="do-second">
            <h4>Step 2: Unleash Your Thoughts!</h4>
            <p>Be the maestro of reviews – fabulous or fierce! <br>Ensure you're logged in to dive into the world of expression. Share your experiences and let your words weave the story of your stylistic adventure!</p>
        </section>

        <section class="do-third">
            <h4>Step 3: Spread the Glamour!</h4>
            <p>Shout it from the rooftops! Share your LuxD experience with friends and family. Click the magic link to start the glam revolution and let the world know about your fabulous journey! </p>
            <a href="stylist/new">Start Reviewing!</a>
        </section>
    </div>
</body>

</html>

