<%- include('./partials/header') %>
<div class="about-container">
    <p class="about">Welcome to LuxD Reviews, your ultimate destination for 
        elevating your styling experience.
        Our user-friendly interface empowers clients to share their valuable 
        feedback about the exceptional or Not so great service they've received. 
        Our users are allowed to chose from different stylist such as photography,
        hair, makeup & more !
    </p>
</div>

<%- include('./partials/footer')%>