<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

        <div class="about-container">
            <img src="luxdlogo.jpeg" class="logo">
            <section class="about"><p>Welcome to LuxD Reviews, your ultimate destination for 
                elevating your styling experience. Our user-friendly interface empowers clients to share their valuable 
                feedback about the exceptional or not so great service they've received. Our users are allowed to choose from different stylists such as photography,
                hair, makeup & more ! <br><br> CLICK BELOW FOR QUICK INSTRUCTIONS
            </p>
            </section>
        </div>

 <div class="steps-button-container">
                <a href="/steps" class="steps-page-button">
                    explore steps here
                </a>
            </div>

</html>

<%- include('./partials/footer')%>
