.stylists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding for spacing */
    color: rgb(0, 0, 0); 
    margin-bottom: 5%;
  }
  
  .logo-header {
    width: auto; /* Adjust the width as needed */
    height: 30px; /* Maintain the desired height */
  }
.stylist-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid burlywood;
}

  .stylist-table th, .stylist-table td {
    padding: 8px;
    text-align: left;
  }

  .description {
    display: flex;
    justify-content: center;
  }

