.logo-header {
    display:flex ;
    justify-content: end;
}

.stylist-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black
  }

  .stylist-table th, .stylist-table td {
    border: 1px solid none;
    padding: 8px;
    text-align: left;
  }

  .stylists-header {
    display: flex;
    justify-content:flex-start;
    
  }

  .description {
    display: flex;
    justify-content: center;
  }

