#show-page-container {
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#show-page {
  border: 1px solid burlywood;
  padding: 10px; 
    margin-top: 10%;
    

}

.show-info-label {
text-align: center;
letter-spacing: 1px;
font-family: 'Vidaloka', serif;
text-decoration: underline;
font-weight: bold;

}

.show-info-value {
    text-align: center;
    /* letter-spacing: ; */
    font-family: 'Vidaloka', serif;
    color: rgb(2, 12, 12);

}

.delete-form  {
  display: flex;
  justify-content: center;
}

#review-content {
    background-color: transparent;
  }
.star-rating {
  display: flex;
  justify-content: center;
  border: none;
}
  .review-user {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .review-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review-user img, .review-user span {
    vertical-align: middle;
  }

  /* list/display of reviews  */
  tr td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  