/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */


* {
  box-sizing: border-box;
  font-family: Helvetica;
  color:black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  background-color: rgb(241, 233, 233);
  background-size: contain; /* or cover, depending on your preference */
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

/* Homepage  */
body::before {
  content: ""; 
  position: fixed;
  top: 20%;
  left: 0;
  width: 50%;
  height: 50%;
  background-image: url('/luxdlogo.jpeg');
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; 
}

.about{
width: 40%;
height:30%;
top: 30%;
left:50%;
border: 1px solid black;
position: fixed;
word-wrap: break-word;
text-align: center;
font-family: 'Vina Sans', sans-serif;



}

#show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 30px;
  color: #111;
  background-color: rgba(172, 100, 23, 0.415);
}

.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}


/* #add-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
} */
#review-content {
  background-color: #f3f3f3;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.review-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.review-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.review-user img, .review-user span {
  vertical-align: middle;
}

tr td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

