/* Navigation bar */
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color:black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

li a:hover {
  background-color:#FACFCE;
}
/* Universal */
.body {
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Homepage  */
.about-container::before {
  border-radius: 25px;
  content: ""; 
  position: fixed;
  top: 20%;
  left: 0;
  width: 50%;
  height: 50%;
  background-image: url('/luxdlogo.jpeg');
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; 
}

.makeup {
  background-image: url('../makeup.jpg');
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30%;
  margin-left: 70%;
}
.salon {
  background-image: url('../salon.jpg');
  display: flex;
  justify-content: center;
  height: 350px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 30%;
  margin-bottom: -70%;
}
.about{
width: 40%;
height:30%;
top: 40%;
left:50%;
/* border: 1px solid black; */
position: fixed;
word-wrap: break-word;
text-align: center;
font-family: 'Vidaloka', serif;
font-size: large;
}
.scroll-to-bottom::before {
  content: "\21E9";
  font-size: 24px;
  display: block; /* Hide the element by default */
  position: fixed;
 margin-top: 40%; /* Adjust as needed */
  margin-left: 50%;
  cursor: pointer;
}
.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the container horizontally */
  justify-content: flex-end; /* Center the container vertically */
  height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
  margin-top: auto;
}

/* Show Page */




.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

}


/* #add-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
} */


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */


