/* Navigation bar */
* {
  box-sizing: border-box;
  color: black;
  background-color: antiquewhite;
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

li a:hover {
  background-color:#FACFCE;
}

@media screen and (max-width: 600px) {
  li {
    float: none;
    width: 100%;
    text-align: center;
  }

  li a {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .body{
  padding: 15px 0; 
  width: 75%; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  flex-direction: column; /* Stack elements vertically */
}
.about {
  width: 90%; /* Adjust the width for even smaller screens */
  top: 5%; /* Adjust the top position for smaller screens */
  position: relative;
}

  }
  
 


/* Homepage  */
.about-container{
  border-radius: 25px;
  content: ""; 
  position: fixed;
  top: 20%;
  left: 0;
  width: 50%;
  height: 50%;
  background-image: url('/luxdlogo.jpeg');
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0; 
}


.about{
width: 40%;
height:30%;
top: 40%;
left:50%;
/* border: 1px solid black; */
position: fixed;
word-wrap: break-word;
text-align: center;
font-family: 'Vidaloka', serif;
font-size: large;
}
.steps-button-container {
  text-align: center;
  margin-top: 45%;
}

.steps-page-button {
  background-color: #8e97c8; /* Green */
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust padding to make the button smaller */
  text-decoration: none;
  font-size: 16px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  justify-items: center;
  justify-content: center;
 
}


/* Show Page */

.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


/* phone size */

