
<h2>Enter Your Stylist</h2>
<form action="/stylist" method ="post">
    <label> Instagram:
        <input type="text" name="instagram">
    </label><br>
    <label> Artist Type:
        <input type="text" name="artistryType">
    </label><br>
    <label>Will you recommend?
        <input type="checkbox" name="recommended">
    </label><br>
    <button type="submit">Enter</button>

</form>
