<%- include('../partials/header') %>
<h2>Enter Your Stylist</h2>
<form id="new-form" action="/stylist" method ="POST">
    <label> Instagram:
        <input type="text" name="instagram">
    </label><br>
    <label> Artist Type:
        <select name="artistryType">
            <option value="Makeup">Makeup</option>
            <option value="Hair">Hair</option>
            <option value="Photography">Photography</option>
        </select>
    </label><br>
    <label>Will you recommend?
        <input type="checkbox" name="recommended">
    </label><br>
    <button type="submit">Enter</button>

</form>
<%- include('../partials/footer') %>
