<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateNew</title>
    <link rel="stylesheet" href="/stylesheets/new.css"> 
</head>
<body>
<form id="new-form" action="/stylist" method ="POST">
    <h3>ENTER YOUR DESIRED STYLIST</h3>
    <label> STYLIST INSTAGRAM:
        <input type="text" name="instagram">
    </label><br>
    <label> ARTIST TYPE:
        <select name="artistryType">
            <option value="Makeup">Makeup </option>
            <option value="Hair">Hair</option>
            <option value="Photography">Photography</option>
        </select>
    </label><br>
    <label>RECOMMEND(check yes)
        <input type="checkbox" name="recommended">
    </label><br>
    <button type="submit">Enter</button>

</form>

<diiv class="salon"></diiv>
<div class="makeup"></div>
</body>
</html>
