<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steps</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
    <div class="steps-container">
        <div class="do-first">
            <h4>1st Step</h4>
            <p>Create stylist LuxD card by clicking Add New Stylist in the tab bar.</p>
        </div>
        <div class="do-second">
            <h4>2nd step</h4>
            <p>Write a Review Awesome or NOT!<br> Be sure you're logged in to create a review.</p>
        </div>
        <div class="do-third">
            <h4>3rd Step</h4>
            <p>Tell your Friends<br> <a href="click-to-start"></a></p>
        </div> 
    </div>
   


</body>
</html>